<!--
Variables

- Permalink: URL
- Title: Site or blog's title
- Summary: Site's description or blog's article summary
- ThumbnailLink: Image URL
- ImageSizeMode: Resize | Cover
-->
<a href="{{ .Permalink }}" class="no-underline text-black">
  <div
    class="group flex flex-col md:flex-row h-96 md:h-32 border
          bg-theme-light/40 hover:bg-white
          dark:border-darkmode-border dark:bg-darkmode-theme-light hover:dark:bg-darkmode-border
          shadow hover:shadow-md
          rounded-md overflow-clip transform duration-300 md:mx-4">
    <img
      class="w-full bg-gray-100 dark:bg-dark md:w-60 h-64 max-h-64 flex-grow-0 group-hover:scale-105 m-0 !mb-0 !rounded-none transform duration-300
        {{ if eq .ImageSizeMode "Cover" }}
        object-cover
      {{ else if eq .ImageSizeMode "Resize" }}
        object-scale-down p-3
      {{ end }}"
      src="{{ .ThumbnailLink }}" />
    <div class="flex-1 flex flex-col p-4 justify-center">
      <div class="font-bold text-base text-text dark:text-darkmode-text line-clamp-1">
        {{ .Title }}
      </div>
      <span
        class="text-sm text-text dark:text-darkmode-text line-clamp-2 md:leading-6 pt-1 opacity-90">
        {{ .Summary }}
      </span>
    </div>
  </div>
</a>
